# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm / IDE
.idea/
*.iml
*.swp
*.swo

# Jupyter Notebooks
.ipynb_checkpoints
*.ipynb

# Environment
.env
.venv
env/
venv/

# OS
.DS_Store
Thumbs.db

# Docker / WSL (Optional: if you don't want to push the built images, though usually fine)
# *.tar
